<br><br>

<h1>About Us</h1><br>
<p>Littlehumans is one of the final student projects of the Web Development Immersive course Jan-Mar 2014 at <a href="http://generalassemb.ly" target="new">General Assembly</a>. Littlehumans is a portal for securely viewing the latest midwifery tweets, and to share and filter rosters and record deliveries for medical continuing development.</p>

<p style="text-align: left;"><h3>Purpose:</h3>
  Medical professionals leading busy lives need a portal to stay up to date with the latest midwifery news, record and compare new deliveries, and collaboration portal for midwifes 
</p>

<p style="text-align: left;"><h3>Challenges:</h3>
Patch to Google Calendar to cancel event - Thanks Daniel for tips and guidance<br>
Unknown Javascript error '}' when invoke function from inline tag but no indication of error location - Thanks Taryn (incorrect combination of apostephies) <br>
Mobile ready website - Thanks Lauren<br>
Unable to test or access to Google Calendar API by clicking 'Try It!'. Solved with Marcus by changing referers to 'any referer allowed' - Thanks Marcus<br>
Convert event date start and end from Google Calendar to duration with Javascript<br>
Rails and Devise environment secret keys<br>
Social media keys with filtering for testing in development and production<br>
</p>

<p style="text-align: left;"><h3>Key Features:</h3>
  User can login with either Twitter, Facebook, or Google, create and filter deliveries, view team rosters on public Google Calendars, and view latest tweets from midwifery Twitter accounts
</p>

<p style="text-align: left;"><h3>Tech Stack:</h3>
  <b>Technologies:</b> Ruby on Rails 4.0, HTML5, CSS3, Sass, jQuery, Javascript, AJAX, PostgreSQL, OmniAuth2 (Twitter, Facebook, Google), HTTParty, RSpec, SimpleCov, Devise (Gem), Bootstrap, Twitter-Text(Gem), Google Calendar API, Pry, IRB, Logger, Developer Tools<br>
  <b>Tools:</b> PivotalTracker, Adobe Photoshop<br>
  <b>Methods:</b> Test Driven Development, Git merges version control
</p>
<p style="text-align: left;"><h3>Author:</h3>
Click the below link to find out more about <a href="http://www.lukeschoen.com" target="new">Luke Schoen</a>, the web developer.
</p>

<a href="http://www.lukeschoen.com" target="new"><img src="/images/blogger_logo.png"></a>