<br><br>

<h1>About Us</h1><br>
<p>This site was created by <a href="http://www.lukeschoen.com" target="new">Luke Schoen</a> for the final project of the Web Development Immersive course at <a href="http://generalassemb.ly" target="new">General Assembly</a>. <br><br>No babies were destroyed in the making of this website.</p>
