<br><br>

<h1>Help</h1><br>

<p>
  Please login to find out about Littlehumans, or alternatively contact the developer.
</p>

<i class="glyphicon glyphicon-question-sign" style="font-size:150px; color:#ccaaee;"></i>
