<br><br>

<h1>Help</h1><br>

<p>
  Click to view the <a href="https://github.com/ltfschoen/littlehumans" target="new">README</a> on GitHub.<br><br>
  Contact the developer (Luke Schoen) on Twitter with the handle <a href="https://twitter.com/ltfschoen" target="new">@ltfschoen</a>.<br><br>
  Please login to find out how Littlehumans works, it is really simple.
</p>

<a href="https://github.com/ltfschoen/littlehumans" target="new"><i class="glyphicon glyphicon-question-sign" style="font-size:150px; color:#ccaaee;"></i></a>
