<br><br><br><br>

<%= link_to "Back", :back, class: "btn btn-default btn-lg responsive" %>&nbsp;

<div style="inline">
  <a href="mailto:info@lukeschoen.com" id="roster" class="btn btn-default btn-lg responsive">Request Permission</a>
</div>

<br>
Click the link above to be granted permission to join the Littlehumans Google Calendar.
<br><br>

<iframe src="https://www.google.com/calendar/embed?height=300&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=m88eksashs23rt5r00ji2vpn2g%40group.calendar.google.com&amp;color=%232952A3&amp;ctz=Australia%2FSydney" style=" border-width:0 " width="400" height="300" frameborder="0" scrolling="no"></iframe>