User ID: <%= @user.id %>

<!-- Begin Body -->
<div class="container-user">
	<div class="row">
  			<div class="col-sm-2" id="sidebar-user">
      			<ul class="nav nav-pills nav-stacked">
                  	<li><a href="#">Roster</a></li>
          			<li><a href="#">Deliveries</a></li>
 					<li class="divider-user"></li>
          			<li><a href="#">Drug Search</a></li>
          			<li><a href="#">News</a></li>
				</ul>
      		</div>  
      		<div class="col-sm-9">
              	<h1>News 1</h1>
                <img src="//placehold.it/300x300/EEEEEE/EEEEEE/assets/#" style="height:300px;width:300px;" class="img-circle pull-right">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium
              
              	<hr class="col-sm-12">
              
              	<h2>News 2</h2>
				Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium

              	<!-- /assets/#" -->
              	
		        <form id="search-form" action="#" method="get">
		       	  <input id="search-form-input" type="text">
		     	  <button id="fetch">Search</button>
		        </form>

			    <div id="content">
			  	  <ul id="movies">
					<!-- ajax outputs -->
			  	  </ul>
			    </div>

      		</div> 
  	</div>
</div>

<script>

	//var url = 'http://www.omdbapi.com/?s=hacking';

	var fetchMovies = function (url) {


		var addMovies = function(data) {
			// console.log("data imdbID is: " + data.Search[0].imdbID);
			$('#movies').html(' '); // reset each time loaded
			$(data.Search).each(function() { 
				// append to the div with id 'movies' within its 'ul'
				$('#movies').append(
					'<li><div>' + this.Title + 
					'</div><div>' + this.Type + 
					'</div><div>' + this.Year + 
					'</div><div>' + this.imdbID + '</div></li>'
				);
			});
		}

		$.ajax({ 
			url: url + $('form').find('input').val(),
			dataType: 'json',
			type: 'get'
		}).done(function(data) {
			console.log(data);
			addMovies(data);
		});
	};

	$('form').on('submit', function(event) {
		event.preventDefault();
		var url = 'http://www.omdbapi.com/?s=';
		url += $('#search-form-input').val();
		console.log(url);
	 	console.log('submit form');
	 	fetchMovies(url);
	})

</script>