User ID: <%= @user.id %>

<!-- Begin Body -->
<div class="container-user">
	<div class="row">

  			<div class="col-sm-2" id="sidebar-user">
      			<ul class="nav nav-pills nav-stacked">
                  	<li><a href="#" id="roster">Roster</a></li>
                  	<!-- <form id="search-roster" action="#" method="get">
		       	  	  <input id="search-roster-input" type="text" style="width: 100%; display:inline-block;" class="form-control" placeholder="Search" autofocus="true">
		     	      <button id="fetch">Search Drugs</button> 
		     	      <%#= submit_tag("Search Roster", class: "btn btn-primary", id: "fetch-roster", style:"width: 100%;") %>
		            </form> -->
          			<li><a href="#" id="births">Births</a></li>
 					<li class="divider-user"></li>
          			<li><a href="#" id="news">News</a></li>
          			<form id="search-form" action="#" method="get">
		       	  	  <input id="search-form-input" type="text" style="width: 100%; display:inline-block;" class="form-control" placeholder="Search" autofocus="true">
		     	      <!-- <button id="fetch">Search Drugs</button> -->
		     	      <%= submit_tag("Search Drugs", class: "btn btn-info", id: "fetch-drugs", style:"width: 100%;") %>
		            </form>
				</ul>
      		</div>  

      		<div class="col-sm-9" id="exchange-main">
              	<h1>News 1</h1>
                <img src="//placehold.it/300x300/EEEEEE/EEEEEE/assets/#" style="height:300px;width:300px;" class="img-circle pull-right">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium
              
              	<hr class="col-sm-12">
              
              	<h2>News 2</h2>
				Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium
			
              	<!-- /assets/#" -->
        	</div>

        	<div class="col-sm-9" id="exchange-search" >      	

			    <div class="table-responsive">
			      <h1>My Movies</h1><br>
			  	  <table id="movies-list" class="table table-hover">
					<!-- ajax outputs -->
					
					
			  	  </table>
			    </div>
				<br>
      		</div> 

      		<div class="col-sm-9" id="exchange-roster" >      	

				<!-- responsive bootstrap 'table' and 'table-responsive' and 'active' css -->
			    <div class="table-responsive">
			      <h1>My Roster</h1><br>
			  	  <table id="calendar-list" class="table table-hover">
					<!-- ajax outputs -->
					

			  	  </table>
			    </div>
				<br>
      		</div> 

  	</div>
</div>

<div id="google-key"><%= @google_key %></div>
<div id="google-simple"><%= @google_simple %></div>

<script>

	var fetchMovies = function (url) {

		var addMovies = function(data) {
			// console.log("data imdbID is: " + data.Search[0].imdbID);
			$('#movies-list').html('');
			$('#movies-list').html('<tr class="info"><td>Title</td><td>Type</td><td>Year</td><td>imdbID</td></tr>'); // reset each time loaded
			$(data.Search).each(function() { 
				// append to the div with id 'movies' within its 'ul'
				$('#movies-list').append(
					'<tr><td>' + this.Title + 
					'</td><td>' + this.Type + 
					'</td><td>' + this.Year + 
					'</td><td>' + this.imdbID + '</td></tr>'
				);
			});
		}

		$.ajax({ 
			url: url + $('#search-form-input').val(),
			dataType: 'json',
			type: 'get'
		}).done(function(data) {
			console.log(data);
			addMovies(data);
		});
	};

	$('#search-form').on('submit', function(event) {
		event.preventDefault();
		$('#exchange-main').hide();
		$('#exchange-roster').hide();
		$('#exchange-search').show();
		// http://www.mims.com.au/index.php/products/mims-integrated
		// http://pillbox.nlm.nih.gov/API-documentation.html
		var url = 'http://www.omdbapi.com/?s=';
		console.log(url);
	 	console.log('submit form');
	 	fetchMovies(url);
	})

	$('#news').on('click', function(event) {
		event.preventDefault();
		$('#exchange-search').hide();
		$('#exchange-roster').hide();
		$('#exchange-main').show();
	})

	// prevent click showing all pages
	$('#search-drug').on('click', function(event) {
		event.preventDefault();
	})

	// $('#news').on('click', function(event) {
	// 	event.preventDefault();
	// })

</script>

<script>

	var fetchRoster = function (url) {

		var addRoster = function(data) {
			console.log("data summary is: " + data.summary);
			console.log("data description is: " + data.items[0].description);
			$('#calendar-list').html('');
			$('#calendar-list').html('<tr class="info"><td>Title</td><td>Type</td><td>Year</td><td>imdbID</td></tr>'); // reset each time loaded
			var i = 0
			var cycle_class = "active";
			$(data).each(function() { 
				// cycles between active and non-active bootstrap css class
				// if (cycle_class == "active") {
				// 	cycle_class = "";
				// } else {
				// 	cycle_class = "active";
				// }
				$('#calendar-list').append(
					/// add cycle colours with bootstrap after figure how to escape char
					'<tr class="' + cycle_class + '"><td>' + 
					'<tr><td>' + this.items[0].description + 
					'</td><td>' + this.etag + 
					'</td><td>' + this.description + 
					'</td><td>' + this.location + '</td></tr>'
				);
				i = i + 1;
			});
		}

		// ajax request for google calendar via calendar method in users controller
		// purpose is alternative to direct ajax request that reveals google security keys
		var options = {
		  url: '/users/calendar', 
		  type: 'get',
		  dataType: 'json'
		}

	    $.ajax(options).done(function(calendar) {
		  console.log('ajax calendar success');
		  console.log(calendar);
		  // after get calendar from controller server side
		}).done(function(calendar_data) { // success handler
			console.log("data is: " + calendar_data);
			addRoster(calendar_data);
		}).error(function(calendar_data) { // failure handler
			console.log("error is: " + calendar_data);
		});

	};

	// loads OAuth2 to allow connection to Google APIs (i.e. Google Calendar)
	function loadGoogleAPI() {
		$('#exchange-main').hide();
		$('#exchange-search').hide();
		$('#exchange-roster').show();
		fetchRoster();
	};

    // prevent click showing all pages
	$('#roster').on('click', function(event) {
		event.preventDefault();
		$('#exchange-search').hide();
		$('#exchange-main').hide();
		$('#exchange-roster').show();
	});

</script>

<!-- https://developers.google.com/api-client-library/javascript/samples/samples#LoadinganAPIandMakingaRequest -->
<script src="https://apis.google.com/js/client.js?onload=loadGoogleAPI"></script>
