User ID: <%= @user.id %>
Twitter Login: <%= @user.twitter_login %>

<!-- Begin Body -->
<div class="container-user">
	<div class="row">
  			<div class="col-sm-2" id="sidebar-user">
      			<ul class="nav nav-pills nav-stacked">
                  	<li><a href="#">Roster</a></li>
          			<li><a href="#">Deliveries</a></li>
 					<li class="divider-user"></li>
          			<li><a href="#">Drug Search</a></li>
          			<li><a href="#">News</a></li>
				</ul>
      		</div>  
      		<div class="col-sm-9">
              	<h1>News 1</h1>
                <img src="//placehold.it/300x300/EEEEEE/EEEEEE/assets/#" style="height:300px;width:300px;" class="img-circle pull-right">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium
              
              	<hr class="col-sm-12">
              
              	<h2>News 2</h2>
				Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium

              	<!-- /assets/#" -->
              	
      		</div> 
  	</div>
</div>