<% provide(:title, 'Footer') %>

<br>

<div class="footer navbar-fixed-bottom">
  <%= link_to "Privacy", static_pages_privacy_path %> | 
  <%= link_to "Terms & Conditions", static_pages_terms_and_cond_path %>
  <br>
  © 2014 Littlehumans by Luke Schoen.
</div>
