<% provide(:title, 'Footer') %>

<br>

<div class="footer">
  © 2014 Littlehumans by Luke Schoen.
</div>

<div class="footer">
  <%= link_to "Privacy", static_pages_privacy_path %> | 
  <%= link_to "Terms & Conditions", static_pages_terms_and_cond_path %>
</div> 