/* CSS BAR AT TOP */
#scrollContent {
	height:186px;
	overflow:false;
	position:relative;
}.navbar-collapse:before, .navbar-collapse:after{display:inline; content:""; }

#header {
	clear:both;
	float:left;
	width:100%;
}

/* social button effects */
.defferred-block { display: none; }

.social {
	opacity:0.7;
	filter:alpha(opacity=40); /* For IE8 and earlier */
}

.social:hover {
	opacity:1.0;
	filter:alpha(opacity=100); /* For IE8 and earlier */
} 

.social { display:none; }

.devise {
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */
}

.devise:hover {
	opacity:1.0;
	filter:alpha(opacity=100); /* For IE8 and earlier */
} 

#tw, #fb, #go { display:block;
	vertical-align: center; 
	position: relative; 
	margin-left: 10px; 
	margin-top: 10px;
	z-index: 1000; 
}

.nav_init {
	/*position: absolute;*/
	display:block;
	margin-top: 0px;
}

.nav_enter {
	/*position: relative;*/
    display:block;
    margin-top: 100px;
    height:auto;
    -webkit-transition-duration: 3s;
    -moz-transition-duration: 3s;
    -o-transition-duration: 3s;
    transition-duration: 3s;
}