$break-small: 100px;
$break-medium: 330px;
$break-large: 540px;

#site-container {
  float: left;
  width: 250px;
  // media screen (i.e. non-smartphone and displaying on screen)
  // max-width is the browser window including scrollbar
  @media screen and (max-width: $break-small) {
    width: 100px;
    text-align: left; 
    font-size: 0.8em; // halve the font size on small screens
    //float: none;
  }

  @media screen and (min-width: $break-medium) {
    width: 330px;
    text-align: left; 
    //float: none;
  }
  
  @media screen and (min-width: $break-large) {
  	float: none;
  	width: 100%;
    text-align: left; 
  }
}


//   // iphone
//   @media only screen 
//   and (-webkit-min-device-pixel-ratio: 1.5), only screen 
//   and (min-moz-device-pixel-ratio: 1.5), only screen 
//   and (min-device-pixel-ratio: 1.5) { 

//   	// @content; 
//   	background: pink;

//   }

// }


// // define possible screen sizes expected

// $min-width-name: min-device-width;
// $max-width-name: max-device-width;
// $sma-target-width: 320px; // or 25em?
// $med-target-width: 768px; // or 40em?
// $lar-target-width: 1024px; // or 70em?

// #site-container {

//   // common padding
//   padding-left: .6em; // where equiv 1em == 12px font
//   padding-right: .6em;  

//   @media screen 
//   and (min-width-name: $sma-target-width){

// 	background: red;

//   }

//   @media screen 
//   and (min-width-name: $med-target-width){

// 	background: orange;

//   }

//   @media screen 
//   and (min-width-name: $lar-target-width){

// 	background: green;

//   }

//   @media only screen 
//   and (min-width-name : $med-target-width) 
//   and (max-width-name : $lar-target-width) 
//   and (orientation : landscape)
//   and (-webkit-min-device-pixel-ratio : 1.5) {

//   	// @content; 
//   	background: blue;

//   } 






// ALTERNATIVE METHOD
// @mixin breakpoint($point) {
//   @if $point == papa-bear {
//     @media (max-width: 1600px) { @content; }
//   }
//   @else if $point == mama-bear {
//     @media (max-width: 1250px) { @content; }
//   }
//   @else if $point == baby-bear {
//     @media (max-width: 650px)  { @content; }
//   }
// }





// @mixin breakpoint($point, $dir: min) {
// @media (#{$dir}-width: $point) {
// @content;
// }
// }

