$break-small: 100px;
$break-medium: 330px;
$break-large: 540px;

#site-container {
  float: left;
  width: 250px;

  // media screen (i.e. non-smartphone and displaying on screen)
  // max-width is the browser window including scrollbar
  @media screen and (max-width: $break-small) {
    width: 100px;
    text-align: left; 
    font-size: 0.7em; // halve the font size on small screens
    //font-size: 90%;
    //float: none;
  }

  @media screen and (min-width: $break-medium) {
    width: 330px;
    text-align: left; 
    //float: none;
  }
  
  @media screen and (min-width: $break-large) {
    float: none;
    width: 100%;
    text-align: left; 
  }
}
