/*@import 'mixins';
*/
/* YET TO BE MODIFIED. NOT CURRENTLY LOADED BY JS FILE */

/*
	 CSS-Tricks Example
	 by Chris Coyier
	 http://css-tricks.com
*/

/** { margin: 0; padding: 0; }
#page-wrap { margin: 40px auto; color: white; }
#page-wrap > div { border: 1px solid #999; padding: 20px; margin-bottom: 5px; color: black; }
#header { background: #eee; }
#main-content { background: #eee; }
#secondary-one { background: #eee;  }
#secondary-two { background: #eee;  }

body {
	margin:0;
	padding:0;
	border:0;		
	width:100%;
	background:#fff;
	font-size:90%;
}*/