/*@import 'mixins';

#header { width: 900px; position: relative; }
#header:after { content: "Wide Layout"; }
#container { float: center; width: 100%; position: absolute; }

body {
	margin:0;
	padding:0;
	border:0;			
	width:100%;
	background:#fff;
	font-size:90%;
}*/
